{% extends 'base.html.twig' %}

{% block title %}Liste des Continents{% endblock %}

{% block body %}
    <h1>Liste des Continents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id Continent</th>
                <th>Nom Continent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for continent in continents %}
            <tr>
                <td>{{ continent.id }}</td>
                <td>{{ continent.nom }}</td>
                <td>
                    <a href="{{ path('app_continent_show', {'id': continent.id}) }}">Afficher</a>
                    <a href="{{ path('app_continent_edit', {'id': continent.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Non trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_continent_new') }}">Créer un nouveau</a>
{% endblock %}
