{% extends 'base.html.twig' %}

{% block title %}Liste des Pays{% endblock %}

{% block body %}
    <h1>Liste des Pays</h1>

<a href="{{ path('app_pays_new') }}">Créer un nouveau pays</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td>{{ pay.id }}</td>
                <td>{{ pay.nomPays }}</td>
                <td>
                    <a href="{{ path('app_pays_show', {'id': pay.id}) }}">Afficher</a>
                    <a href="{{ path('app_pays_edit', {'id': pay.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Rien de trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
