{% extends 'base.html.twig' %}

{% block title %}Type de la bière{% endblock %}

{% block body %}
    <h1>Type de la bière</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typebiere.id }}</td>
            </tr>
            <tr>
                <th>Nom du Type</th>
                <td>{{ typebiere.nomType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_typebiere_index') }}">Retour à la liste</a>

    <a href="{{ path('app_typebiere_edit', {'id': typebiere.id}) }}">Éditer</a>

    {{ include('typebiere/_delete_form.html.twig') }}
{% endblock %}
